.ratingProdChar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.ratingCharDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.ratingCharDesc p {
  font-size: small;
  margin: 0;
  margin-top: 0.7em

}

.ratingProdBar {
  width: 95%;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  background-color: #E6ECEC;
  margin-top: 0.5em;
  margin-right: 5%;
}

.charTitle {
  margin-bottom: 0;
}