.rAndR {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 10px;
}

.rAndR h2 {
  height: 2vh;
  margin-block-start: 3.5vh;
  margin-block-end: 1.5vh;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 500;
  font-size: 1em;
}

.reviewsBox {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.reviewsAside {
  display: flex;
  flex-direction: column;
  max-height: 93vh;
  overflow: hidden;
  padding-bottom: 3%;
}

.reviewsMain {
  display: flex;
  flex-direction: column;
  max-height: 93vh;
  overflow: hidden;
  padding: 3%;
  padding-top: 0;
}