.reviewsList {
  overflow-y: auto;
}

.moreReviews {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  border: solid 1px;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  padding: 1em;
  margin: 0.25em;
}