# The following variables are attached to process.env via the dotenv module.

CLOUDINARY_CLOUD_NAME='your-cloudinary-cloud-name'
CLOUDINARY_API_KEY='your-cloudinary-api-key'
CLOUDINARY_API_SECRET='your-cloudinary-api-secret'

CLOUDINARY_URL=cloudinary://'your-cloudinary-api-key':'your-cloudinary-api-secret'@'your-cloudinary-cloud-name'

PORT=3000
GITHUB_APIKEY='your-github-api-key'
