.answerBody {
  font-size: medium;
}

.answerTitle {
  font-weight: bold;
  font-size: large;
}

.answererInfo {
  margin: 15px;
  margin-left: 25px;
}
.nameAndDate {
  font-size: small;
}
.helpful {
  font-size: small;
  margin: 7px;
}

.helpful button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  font-size: small;
  margin-left:7px;
}
.reportedButton {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  font-size: small;
  margin-left:7px;
}