.qnaContainer {
  height: 800px;
  overflow-y: auto;
  width:100%;
}

.qnaButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.testing {
  margin: 0;
  width: 70%;
}
.qnaHeader {
  font-weight: 500;
  font-size: 1.2em;
  margin-left: 10px;
}