.modal-background {
  width: 100vw;
  height: 100vh;
  background: rgba(3, 3, 3, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-background * {
  z-index: 16;
}
