/* Overview.module.css */
.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  height: auto;
  margin-left: 60px;
  margin-bottom: 60px;
}
.imageGalleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 900px;
  width: 100%;
}

.heroContainer {
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.heroImage {
  max-height: 700px;
  height: 500px;
  max-width: 700px;
  object-fit: contain;
  background-color: black;
}

.productInfo {
  padding: 10px;
  flex-grow: 1;
  max-width: 400px;
}

.prodInfoStarSection {
  display: flex;
  flex-direction: row;
}

.prodInfoSmalltext {
  padding-left: 10px;
}

.socials {
  display: flex;
  flex-direction: row;
  margin: 25px;
}
.social:hover {
  opacity: 0.6;
  transform: scale(1.05);
  color: red;
}

.socialIcon {
  color: #007bff;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.checkmarkIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: blue;
  font-size: 25px;
  z-index: 1;
}

.thumbnailGallery{
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}

.thumbnailImg {
  max-height: 150px;
  object-fit: contain;
  width: 250px;
  height: auto;
}

.thumbnailImg:hover {
  opacity: 0.6;
  transform: scale(1.05);
  cursor: pointer;
  border: 2px solid #8AA29E;
}

.styleThumbnail {
  position: relative;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid #ddd;
  object-fit: cover;
  object-position: center;
}
.styleThumbnailSelected {
  border: 12px solid #4CAF50;
}

.arrowIcon {
  color: #007bff;
  position: absolute;
  right: 50px;
  top: 50px;
  transform: translateY(-50%);
  font-size: 18px;
  width: 25px;
  height:25px;
  cursor: pointer;
}

/* Modal and Overlay styles*/
.overlay {
  background: rgba(49,49,49,0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1040;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  width: auto;
  max-width: 95%;
  height: auto;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 1050;
}

.heroImageModal {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: 24px;
}

body.activeModal {
  overflow-y: hidden;
}
/* Add to Cart */
.addToCart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
}

.cart1 {
  display: flex;
  flex-direction: row;
}
.addToCartSelect {
  margin-right: 20px;
  margin-left: 50px;
  margin-bottom: 75px;
  border: 2px blue solid;
}
.cart2 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

}

.starButton {
  margin-right: 20px;
  margin-left: 250px;
  border: 2px blue solid;

}
.btnCart {
  padding: 8px 12px;
  margin-right: 20px;
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px blue solid;

}

.btnCart:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.btnCart:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* Styles Selector */
.styleThumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.styleThumbnailsImg {
  width: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.styleThumbnailsImgHover:hover {
  transform: scale(1.1);
}

.productInformationColumn {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}


/* Vertical Gallery */
.navigationIconLeft {
  padding-left: 150px;
  cursor: pointer;
  color: red;
  font-size: 39px;
  transition: color 0.3s ease;
}
.navigationIconRight {
  padding-right:150px;
  cursor: pointer;
  color: red;
  font-size: 39px;
  transition: color 0.3s ease;
}

.navigationIconLeft:hover {
  color: #007bff;
}

.navigationIconRight:hover {
  color: #007bff;
}

.imageGalleryContainer .navigationIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.imageGalleryContainer .navigationIcon.up {
  left: 10px;
}

.imageGalleryContainer .navigationIcon.down {
  right: 10px;
}


.carouselNavUp, .carouselNavDown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  z-index: 2;
}

.carouselNavUp {
  cursor:crosshair;
  color: green;
}

.carouselNavDown {
  color: red;
  bottom: -5px;
  cursor: crosshair
}


.verticalCarouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 150px;
  margin-top: 10px;
  overflow: hidden;
  height: auto;
  top: 10;
  left: 10;
}

.siteMessage {
display: flex;
flex-direction: row;
justify-content: center;
margin-left: 10px;
margin-right: 10px;
}

.messageDiv {
  display: flex;
  margin-left: 10px;
margin-right: 10px;
}

.messageDiv:hover {
  cursor: pointer;
  color: red;
  opacity: 0.6;
  transform: scale(1.05);
}

.sloganContainer {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-left: 350px;
}
.sloganDescription {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex: 1;
  color: green;
}

.divider {
  width: 1px;
  background-color: black;
  margin: 0 20px;
  align-self: stretch;
}



.gmoList {
 color: blue;
 flex: 1;
}

.gmo {
  /* Add your styles for each attribute */
  margin-bottom: 8px; /* or whatever spacing you prefer */
}