/* Global CSS classes */

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
}

/* Top Navbar Styling */
.top-bar {
  display: flex;
  background-color: #007bff;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  max-height: 50px;
}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
}

/* Component CSS classes */

/*
theme testing */
#light {
  background-color: #FFFFFF;
  color: black;
  border-color: black;
}

#dark {
  background-color: #000000;
  color: white;
  border-color: white;

}
#dark button {
  color: white;
}
